/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
/* bootstrap functions */
@import "bootstrap/scss/functions";
/* custom variables */
@import "./variables";
/* bootstrap variables */
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
/* required bootstrap */
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
/* optional bootstrap */
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";
/* keyframes */
@import "./keyframes/rainbow";
/* custom components */
@import "./components/header";
/* custom css*/
body {
    background: #191919;
    display: flex;
    place-items: center;
}

#app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
}



h1 {
    font-size: calc(2.375rem + 2.5vw);
    font-weight: 700;
    color: #fff;
    transition: all 2s ease;
    margin: 0;
    &.animated {
        height: 0;
        opacity: 0;
        transform: scale(0.5);
        background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 1000% 1000%;
        animation: rainbow 40s ease infinite;
    }
    &.show {
        opacity: 1;
        height: auto;
        transform: scale(1);
    }
}

a {
    opacity: .7;
    transition: all 1s ease;
    
    &.animated {
        opacity: 0;
    }
    &.show {
        opacity: .7;
    }
    &:hover {
        background: none;
        opacity: 1;
    }
}
